<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectDriveSafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white-50 border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">ProjectDriveSafe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class=" nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50" asp-area="" asp-controller="Home" asp-action="ViewCrashes">View Crash Data</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link text-white-50" asp-area="" asp-controller="Admin" asp-action="AdminView">Admin</a>
                        </li>
                        <li class=" text-right float-right">
                            <a class="btn btn-success btn-md" asp-controller="Admin" asp-action="CrashForm">Create Record</a>
                        </li>
                        <a class="col-lg-8 col-med-10 col-sm-8 btn btn-sm btn-primary float-right" href="/account/logout">Log Out</a>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="row m-1 p-1">

        @*pulls in the body from the other views*@
        <div class="col" >
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 mt-auto">
        <div class="container text-center">
            <small>&copy; 2022 - ProjectDriveSafe - <a asp-controller="Home" asp-action="Privacy">Privacy</a></small>
        </div>
    </footer>

    @*<footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">&copy; 2022 - ProjectDriveSafe - <a asp-controller="Home" asp-action="Privacy">Privacy</a></span>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
