@{
    ViewData["Title"] = "Score";
}

@model ProjectDriveSafeV2.Models.Prediction

<div class="jumbotron">
    <h1>Score:</h1>
    <h2>@Math.Round(Model.PredictedValue)</h2>
    @*<h2>@Model.PredictedValue</h2>*@
</div>
<h3>(On a scale from 1-5, 5 being the MOST safe driver & 1 being the LEAST safe driver.)</h3>
