@{
    ViewData["Title"] = "Score";
}

@model ProjectDriveSafeV2.Models.Prediction

@*This allows for the score to show up and get integers from 1 to 5*@
<div class="d-flex justify-content-center">
    <div class="jumbotron">
        <h1>Score:</h1>
        <p style="font-size:70px" class="text-center">
            @if (Math.Round(Model.PredictedValue) <= 5)
            {
                @Math.Round(Model.PredictedValue);
            } else
            {
                @Math.Floor(Model.PredictedValue);
            }
            
        </p>
    </div>
</div>
<div class="d-flex justify-content-center">
    <h3>(On a scale from 1-5, 1 being the MOST safe driver & 5 being the LEAST safe driver.)</h3>
</div>
<br />
<br />
<div class="d-flex justify-content-center">
    <a class="btn btn btn-primary" href="/Home/Index">Home</a>
</div>