@{
    ViewData["Title"] = "Data Visualizations";
    Layout = "_Layout";
}



                <a class="btn btn-info btn-sm" asp-area="" asp-controller="Tableau" asp-action="CountySeverity">County Severity</a>

                <a class="btn btn-info btn-sm" asp-area="" asp-controller="Tableau" asp-action="CrashSeverity">Crash Severity</a>

                <a class="btn btn-info btn-sm" asp-area="" asp-controller="Tableau" asp-action="Map">Crashes Per County (Map)</a>

                <a class="btn btn-info btn-sm" asp-area="" asp-controller="Tableau" asp-action="Bubble">Crashes Per County (Bubble)</a>



