@{
}

@model IEnumerable<string>

@*Grabs the counties dynamically for the filters*@
<div class="d-grid gap-2">

    <a asp-controller="Home" asp-action="ViewCrashes" asp-route-county="" class="btn btn-outline-secondary btn-block">RESET FILTERS</a>

    @foreach (string c in Model)
    {
        <a asp-controller="Home" asp-action="ViewCrashes" asp-route-county="@c" class="btn-block btn @(ViewBag.SelectedCounty == c ? "btn-primary" : "btn-outline-secondary")">@c</a>

    }
</div>

