@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Header - set the background image for the header in the line below-->
<div>
    <div class="text-center my-5">
        <p class="fs-3 fw-bolder" style="font-size:70px">ProjectDriveSafe</p>
        <p class="mb-0">Group 3-2</p>
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        <br />
        <h5>
            Utah has recently seen a spike in car accidents and car related deaths.
            We have put together this website to display the data surounding this spike.
            We hope that Utah Lawmakers and Regulators can use this data as a source to
            make informed decisions on improving automotive safety.
        </h5>
        <br />
        <br />
        <a class="btn btn-warning" asp-controller="Home" asp-action="ViewCrashes">View Crash Data</a>
    </div>
    <div  class="col-6">
        <br /><br /><br /><br /><br /><br />
        <img style="width:650px; height:200px" class="img-fluid" src="~/lib/img/UDOT_Logo_CMYK_orange_sm.png" alt="..." />
    </div>
</div>
<div style="margin-left:0px" class="float-left">
    <img style="width:1200px" class="float-left" src="~/lib/img/UDOT-TTG-footer-2021.png" />
</div>