@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Header - set the background image for the header in the line below-->
<div>
    <div class="text-center my-5">
        @*<p class="fs-3 fw-bolder" style="font-size: 90px; font-family: Verdana, sans-serif">ProjectDriveSafe</p>
        <p class="mb-0">Group 3-2</p>*@
        <img style="width:800px" src="~/lib/img/Title2.png" />
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        <br />
        <h5 style="color:darkslategray">
            Utah has recently experienced a spike in car accidents and car related deaths.
            We have created this website to aid Lawmakers and Regulators in making
            informed decisions about automotive safety. This website includes detailed
            information about each incident. It also predicts the severity of an incident
            based upon the information provided.

        </h5>
        <br />
        <br />
        <a class="btn" style="background-color: #f57f29 " asp-controller="Home" asp-action="ViewCrashes">View Crash Data</a>
    </div>
    <div class="col-6">
        <br /><br /><br /><br /><br /><br />
        <img style="width:650px; height:200px" class="img-fluid" src="~/lib/img/UDOT_Logo_CMYK_orange_sm.png" alt="..." />
    </div>
</div>
<img style="width:100%" class="float-left" src="~/lib/img/UDOT-TTG-footer-2021.png" />
